PORT=3001
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
ENV=development
ROOT_USER_EMAIL=felipe@hotmail.com
INFOBIP_BASE_URL=https://REPLACE_ME.api.infobip.com
INFOBIP_API_KEY=REPLACE_ME_API_KEY
INFOBIP_WHATSAPP_SENDER=REPLACE_ME_WHATSAPP_SENDER
INFOBIP_TIMEOUT_MS=10000
CLOUD_TASKS_PROJECT_ID=REPLACE_ME_PROJECT_ID
CLOUD_TASKS_LOCATION=us-central1
CLOUD_TASKS_QUEUE=REPLACE_ME_QUEUE
CLOUD_TASKS_MAX_ATTEMPTS=5
CLOUD_TASKS_TARGET_BASE_URL=http://localhost:3001
CLOUD_TASKS_INTERNAL_TOKEN=REPLACE_ME_INTERNAL_TASK_TOKEN
